#crystal0 {
    width: 100px;
    height: 100px;
}
  #crystal1 {
    width: 100px;
    height: 100px;
  }
  #crystal2 {
    width: 100px;
    height: 100px;
  }
  #crystal3 {
    width: 100px;
    height: 100px;
  }

  .crystal-score {
    width: 100px;
    height: 100px;
  }